@import url("https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.birthday-invitation {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fcf9d5, #ef859d, #e5b8d1);
  padding: 50px;
  color: #523f3f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: "Playwrite AT", cursive;
  /* font-family: Arial, sans-serif; */
  position: relative;
  overflow: hidden; /* Hide overflow for flying elements */
}

.invitation-content {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  position: relative;
}

.invitation-header {
  text-align: center;
  margin-bottom: 24px;
}

.invitation-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 8px;
}

.countdown {
  margin-bottom: 24px;
}

.countdown-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.2em;
}

.countdown-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  flex: 1 0 45%;
  max-width: 100px;
}

.countdown-item:hover {
  transform: scale(1.1);
}

.countdown-value {
  font-size: 2.5em;
  font-weight: bold;
}

.event-details {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: rgba(43, 43, 42, 0.5);
  color: #ffffff;
  padding: 40px;
  border-radius: 12px;
}

.event-link {
  font-size: 1.7em;
  color: rgb(193, 158, 242);
  text-decoration: underline;
}

.event-link:hover {
  text-decoration: none;
}

.rsvp-form {
  margin-bottom: 24px;
}

.rsvp-option {
  margin-bottom: 12px;
}

.rsvp-option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rsvp-option input[type="radio"] {
  margin-right: 8px;
}

.rsvp-button {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 2px solid white;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.rsvp-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-group-item .btn {
  margin-left: 10px; /* Pushes the button to the right */
}

.form-group {
  margin-top: 7px;
}

@media (max-width: 768px) {
  .invitation-title {
    font-size: 3em;
  }
  .countdown-value {
    font-size: 3em;
  }
  .countdown-item {
    flex: 1 0 90%;
    max-width: none;
  }
}

.whatsapp-links {
  margin: 20px 0;
  text-align: center;
}

.whatsapp-link {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.whatsapp-link:hover {
  color: #25d366; /* WhatsApp green color */
}

/* Back-to-top button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  display: none; /* Hidden initially */
}

.back-to-top:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

/* Show back-to-top button when user scrolls halfway down */
@media (min-width: 768px) {
  .back-to-top {
    display: block; /* Show button on larger screens */
  }
}

/* Scroll-down button */
.scroll-down {
  position: fixed;
  bottom: 60px; /* Positioned just above the scroll-to-top button */
  right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  display: block; /* Visible initially */
}

.scroll-down:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

/* Hide the scroll-down button after scrolling 100px */
.hidden-scroll-down {
  display: none;
}

@media (max-width: 768px) {
  .scroll-down {
    display: block; /* Make scroll down button visible on mobile */
  }
}
